.mainContainer 
{
  width: 300px;
  margin: 50px auto; /* 50px from the top, centered left-to-right */
  border: 2px solid black;
}

#display 
{
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
  text-align: right;
  background-color: #eee; /* A light gray */
}

.buttonsContainer
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.buttonsContainer button {
  padding: 20px;
  font-size: 1.2em;
  border: 1px solid #ccc;
}
